h1 {
    color: red
}

#phaser-object {
    border-color: black;
    border-width: 2px;
    border-style: solid;
    margin-bottom: 2px;
    padding: 2px;
    background: lightgray
}

#json {
    margin-top: 10px;
    border-top: solid;
    border-width: 2px;
    padding: 10px;
    background: gray
}